{% extends "base.html.twig" %}

{% block body %}

	<h1>Contactez-nous</h1>

	<form action="{{ path ('message') }}" method="post">

		<label for="message">Votre message</label>
		<input type="aereatext" name="message" id="message">
		<input type="submit" value="Envoyer">

	</form>


{% endblock %}
