{% extends "base.html.twig" %}

{% block body %}

	<h1>Les résultats de la recherche
		{{ term }}
		sont :</h1>

	{% for product in products %}
		<h2>{{ product.name }}</h2>
	{% endfor %}

{% endblock %}
